In [1]:
from processing.customLogs import *
from processing.pillars.activity.dataAggregate.a_standTime_aggFunc import *
from processing.pillars.activity.dataAggregate.a_stepCount_aggFunc import *
from processing.pillars.activity.dataAggregate.a_walkingRunningDistance_aggFunc import *
from processing.pillars.activity.dataAggregate.a_flightsClimbed_aggFunc import *
from processing.pillars.activity.dataAggregate.a_activityCalories_aggFunc import *

from processing.pillars.activity.dataStream.a_standTime import *
from processing.pillars.activity.dataStream.a_stepCount import *
from processing.pillars.activity.dataStream.a_walkingRunningDistance import *
from processing.pillars.activity.dataStream.a_flightsClimbed import *
from processing.pillars.activity.dataStream.a_activityCalories import *

In [2]:
records_df = pd.read_csv(r'C:\Users\amank\Downloads\Fithack\Optimization\local_files\records_df.csv')
workouts_df = pd.read_csv(r'C:\Users\amank\Downloads\Fithack\Optimization\local_files\workouts_df.csv')

C:\Users\amank\AppData\Local\Temp\ipykernel_40096\2288700932.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  records_df = pd.read_csv(r'C:\Users\amank\Downloads\Fithack\Optimization\local_files\records_df.csv')

In [3]:
user_name = "5cbdc5c5-2793-452b-a95d-0dbd3a8719ce"

start_date = '2024-09-15'
days_offset = 2
offset_sign = '-'
date_list = ['2024-09-13', '2024-09-09', '2024-09-07']
end_date = '2024-08-27'

# Add the new column to both DataFrames
records_df['userName'] = user_name
workouts_df['userName'] = user_name

# Reorder the columns to position 'userName' as the first column
records_columns = ['userName'] + [col for col in records_df.columns if col != 'userName']
workouts_columns = ['userName'] + [col for col in workouts_df.columns if col != 'userName']

records_df = records_df[records_columns]
workouts_df = workouts_df[workouts_columns]

In [4]:
fc_df = AFlightsClimbed(records_df, start_date, days_offset, offset_sign).process()
fc_df

2024-10-15 19:19:44,041 - INFO - [AFlightsClimbed][__init__] - START : Initiated, 241015191944041895
2024-10-15 19:19:44,179 - INFO - [AFlightsClimbed][_filter_by_offset] - START : Initiated, 241015191944179962
2024-10-15 19:19:44,182 - INFO - [AFlightsClimbed][_filter_data] - START : Initiated, 241015191944182052
2024-10-15 19:19:44,268 - INFO - [AFlightsClimbed][_filter_data] - SUCCESS : Completed, 241015191944268292
2024-10-15 19:19:44,271 - INFO - [AFlightsClimbed][_filter_by_offset] - SUCCESS : Completed, 241015191944271234
2024-10-15 19:19:44,271 - INFO - [AFlightsClimbed][__init__] - SUCCESS : Completed, 241015191944271234
2024-10-15 19:19:44,273 - INFO - [AFlightsClimbed][process] - START : Initiated, 241015191944273225
2024-10-15 19:19:44,274 - INFO - [AFlightsClimbed][_filter_and_sum_by_source] - START : Initiated, 241015191944274224
2024-10-15 19:19:44,290 - INFO - [AFlightsClimbed][_filter_and_sum_by_source] - SUCCESS : Completed, 241015191944290026
2024-10-15 19:19:44,301 - INFO - [AFlightsClimbed][process] - SUCCESS : Completed, 241015191944301987

,userName,valueGeneratedAt,type,sourceName,sourceVersion,creationDate,startDate,endDate,unit,value
0,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:19:44,HKQuantityTypeIdentifierFlightsClimbed,iPhone,18.0,2024-09-14 13:54:49 +0530,2024-09-14 13:42:36,2024-09-14 13:42:39,count,1.0
1,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:19:44,HKQuantityTypeIdentifierFlightsClimbed,iPhone,18.0,2024-09-14 14:06:43 +0530,2024-09-14 13:55:41,2024-09-14 14:00:11,count,2.0

In [5]:
fca_df = AFlightsClimbedAgg(records_df, start_date, days_offset, offset_sign).process()
fca_df

2024-10-15 19:20:18,965 - INFO - [AFlightsClimbed][__init__] - START : Initiated, 241015192018965967
2024-10-15 19:20:19,021 - INFO - [AFlightsClimbed][_filter_by_offset] - START : Initiated, 241015192019021497
2024-10-15 19:20:19,022 - INFO - [AFlightsClimbed][_filter_data] - START : Initiated, 241015192019022495
2024-10-15 19:20:19,127 - INFO - [AFlightsClimbed][_filter_data] - SUCCESS : Completed, 241015192019127895
2024-10-15 19:20:19,128 - INFO - [AFlightsClimbed][_filter_by_offset] - SUCCESS : Completed, 241015192019128850
2024-10-15 19:20:19,129 - INFO - [AFlightsClimbed][__init__] - SUCCESS : Completed, 241015192019128850
2024-10-15 19:20:19,129 - INFO - [AFlightsClimbed][process] - START : Initiated, 241015192019129848
2024-10-15 19:20:19,130 - INFO - [AFlightsClimbed][_filter_and_sum_by_source] - START : Initiated, 241015192019130844
2024-10-15 19:20:19,132 - INFO - [AFlightsClimbed][_filter_and_sum_by_source] - SUCCESS : Completed, 241015192019132837
2024-10-15 19:20:19,135 - INFO - [AFlightsClimbed][process] - SUCCESS : Completed, 241015192019135869

,userName,valueGeneratedAt,s_name,date,type,unit,valueType,value
0,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:20:19,A_FlightsClimbed,2024-09-14,HKQuantityTypeIdentifierFlightsClimbed,count,TotalFlightsClimbed,3.0

In [6]:
wrd_df = AWalkingRunningDistance(records_df, start_date, days_offset, offset_sign).process()
wrd_df

2024-10-15 19:20:47,160 - INFO - [AWalkingRunningDistance][__init__] - START : Initiated, 241015192047160619
2024-10-15 19:20:47,369 - INFO - [AWalkingRunningDistance][_filter_by_offset] - START : Initiated, 241015192047369152
2024-10-15 19:20:47,370 - INFO - [AWalkingRunningDistance][_filter_data] - START : Initiated, 241015192047370176
2024-10-15 19:20:49,872 - INFO - [AWalkingRunningDistance][_filter_data] - SUCCESS : Completed, 241015192049872621
2024-10-15 19:20:49,878 - INFO - [AWalkingRunningDistance][_filter_by_offset] - SUCCESS : Completed, 241015192049878064
2024-10-15 19:20:49,879 - INFO - [AWalkingRunningDistance][__init__] - SUCCESS : Completed, 241015192049879057
2024-10-15 19:20:49,880 - INFO - [AWalkingRunningDistance][process] - START : Initiated, 241015192049880387
2024-10-15 19:20:49,880 - INFO - [AWalkingRunningDistance][_filter_and_sum_by_source] - START : Initiated, 241015192049880906
2024-10-15 19:20:49,883 - INFO - [AWalkingRunningDistance][_filter_and_sum_by_source] - SUCCESS : Completed, 241015192049883784
2024-10-15 19:20:49,890 - INFO - [AWalkingRunningDistance][process] - SUCCESS : Completed, 241015192049890086

,userName,valueGeneratedAt,type,sourceName,sourceVersion,creationDate,startDate,endDate,unit,value
0,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:20:47,HKQuantityTypeIdentifierDistanceWalkingRunning,rahul’s Apple Watch,10.6.1,2024-09-15 00:24:40 +0530,2024-09-15 00:14:33,2024-09-15 00:19:50,km,0.076470
1,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:20:47,HKQuantityTypeIdentifierDistanceWalkingRunning,rahul’s Apple Watch,10.6.1,2024-09-15 00:38:15 +0530,2024-09-15 00:26:43,2024-09-15 00:30:32,km,0.045801
2,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:20:47,HKQuantityTypeIdentifierDistanceWalkingRunning,rahul’s Apple Watch,10.6.1,2024-09-15 00:45:25 +0530,2024-09-15 00:34:11,2024-09-15 00:43:42,km,0.023106
3,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:20:47,HKQuantityTypeIdentifierDistanceWalkingRunning,rahul’s Apple Watch,10.6.1,2024-09-15 01:05:50 +0530,2024-09-15 00:55:29,2024-09-15 00:56:30,km,0.016893
4,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:20:47,HKQuantityTypeIdentifierDistanceWalkingRunning,rahul’s Apple Watch,10.6.1,2024-09-15 01:36:52 +0530,2024-09-15 01:23:59,2024-09-15 01:24:02,km,0.008843
...,...,...,...,...,...,...,...,...,...,...
979,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:20:47,HKQuantityTypeIdentifierDistanceWalkingRunning,rahul’s Apple Watch,10.6.1,2024-09-13 22:08:06 +0530,2024-09-13 22:07:30,2024-09-13 22:07:33,km,0.004256
980,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:20:47,HKQuantityTypeIdentifierDistanceWalkingRunning,rahul’s Apple Watch,10.6.1,2024-09-13 22:19:07 +0530,2024-09-13 22:08:16,2024-09-13 22:17:55,km,0.049729
981,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:20:47,HKQuantityTypeIdentifierDistanceWalkingRunning,rahul’s Apple Watch,10.6.1,2024-09-13 22:33:29 +0530,2024-09-13 22:21:24,2024-09-13 22:23:57,km,0.092999
982,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:20:47,HKQuantityTypeIdentifierDistanceWalkingRunning,rahul’s Apple Watch,10.6.1,2024-09-13 22:49:54 +0530,2024-09-13 22:38:54,2024-09-13 22:47:29,km,0.056436
983,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:20:47,HKQuantityTypeIdentifierDistanceWalkingRunning,rahul’s Apple Watch,10.6.1,2024-09-13 23:04:12 +0530,2024-09-13 22:53:26,2024-09-13 22:55:44,km,0.031606

In [7]:
wrda_df = AWalkingRunningDistanceAgg(records_df, start_date, days_offset, offset_sign).process()
wrda_df

2024-10-15 19:21:16,254 - INFO - [AWalkingRunningDistance][__init__] - START : Initiated, 241015192116254525
2024-10-15 19:21:16,408 - INFO - [AWalkingRunningDistance][_filter_by_offset] - START : Initiated, 241015192116408517
2024-10-15 19:21:16,409 - INFO - [AWalkingRunningDistance][_filter_data] - START : Initiated, 241015192116409516
2024-10-15 19:21:18,693 - INFO - [AWalkingRunningDistance][_filter_data] - SUCCESS : Completed, 241015192118693459
2024-10-15 19:21:18,700 - INFO - [AWalkingRunningDistance][_filter_by_offset] - SUCCESS : Completed, 241015192118700666
2024-10-15 19:21:18,701 - INFO - [AWalkingRunningDistance][__init__] - SUCCESS : Completed, 241015192118701739
2024-10-15 19:21:18,702 - INFO - [AWalkingRunningDistance][process] - START : Initiated, 241015192118702743
2024-10-15 19:21:18,703 - INFO - [AWalkingRunningDistance][_filter_and_sum_by_source] - START : Initiated, 241015192118703734
2024-10-15 19:21:18,707 - INFO - [AWalkingRunningDistance][_filter_and_sum_by_source] - SUCCESS : Completed, 241015192118707722
2024-10-15 19:21:18,712 - INFO - [AWalkingRunningDistance][process] - SUCCESS : Completed, 241015192118712935

,userName,valueGeneratedAt,s_name,date,type,unit,valueType,value
0,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:18,A_WalkingRunningDistance,2024-09-15,HKQuantityTypeIdentifierDistanceWalkingRunning,km,TotalWalkingRunningDistance,4.0
1,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:18,A_WalkingRunningDistance,2024-09-14,HKQuantityTypeIdentifierDistanceWalkingRunning,km,TotalWalkingRunningDistance,5.8
2,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:18,A_WalkingRunningDistance,2024-09-13,HKQuantityTypeIdentifierDistanceWalkingRunning,km,TotalWalkingRunningDistance,7.1

In [8]:
sc_df = AStepCount(records_df, start_date, days_offset, offset_sign).process()
sc_df

2024-10-15 19:21:43,644 - INFO - [AStepCount][__init__] - START : Initiated, 241015192143644857
2024-10-15 19:21:43,768 - INFO - [AStepCount][_filter_by_offset] - START : Initiated, 241015192143768166
2024-10-15 19:21:43,770 - INFO - [AStepCount][_filter_data] - START : Initiated, 241015192143770170
2024-10-15 19:21:45,220 - INFO - [AStepCount][_filter_data] - SUCCESS : Completed, 241015192145220205
2024-10-15 19:21:45,224 - INFO - [AStepCount][_filter_by_offset] - SUCCESS : Completed, 241015192145224235
2024-10-15 19:21:45,225 - INFO - [AStepCount][__init__] - SUCCESS : Completed, 241015192145225469
2024-10-15 19:21:45,227 - INFO - [AStepCount][process] - START : Initiated, 241015192145226533
2024-10-15 19:21:45,228 - INFO - [AStepCount][_filter_and_sum_by_source] - START : Initiated, 241015192145228484
2024-10-15 19:21:45,230 - INFO - [AStepCount][_filter_and_sum_by_source] - SUCCESS : Completed, 241015192145230544
2024-10-15 19:21:45,234 - INFO - [AStepCount][process] - SUCCESS : Completed, 241015192145234536

,userName,valueGeneratedAt,type,sourceName,sourceVersion,creationDate,startDate,endDate,unit,value
0,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:43,HKQuantityTypeIdentifierStepCount,rahul’s Apple Watch,10.6.1,2024-09-15 00:24:40 +0530,2024-09-15 00:14:33,2024-09-15 00:19:50,count,107.0
1,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:43,HKQuantityTypeIdentifierStepCount,rahul’s Apple Watch,10.6.1,2024-09-15 00:38:15 +0530,2024-09-15 00:26:43,2024-09-15 00:30:32,count,65.0
2,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:43,HKQuantityTypeIdentifierStepCount,rahul’s Apple Watch,10.6.1,2024-09-15 00:45:25 +0530,2024-09-15 00:34:11,2024-09-15 00:43:42,count,33.0
3,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:43,HKQuantityTypeIdentifierStepCount,rahul’s Apple Watch,10.6.1,2024-09-15 01:05:50 +0530,2024-09-15 00:55:29,2024-09-15 00:56:30,count,24.0
4,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:43,HKQuantityTypeIdentifierStepCount,rahul’s Apple Watch,10.6.1,2024-09-15 01:36:52 +0530,2024-09-15 01:23:59,2024-09-15 01:24:02,count,12.0
...,...,...,...,...,...,...,...,...,...,...
219,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:43,HKQuantityTypeIdentifierStepCount,rahul’s Apple Watch,10.6.1,2024-09-13 22:01:09 +0530,2024-09-13 21:59:08,2024-09-13 21:59:11,count,4.0
220,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:43,HKQuantityTypeIdentifierStepCount,rahul’s Apple Watch,10.6.1,2024-09-13 22:15:03 +0530,2024-09-13 22:04:24,2024-09-13 22:09:27,count,391.0
221,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:43,HKQuantityTypeIdentifierStepCount,rahul’s Apple Watch,10.6.1,2024-09-13 22:25:50 +0530,2024-09-13 22:14:51,2024-09-13 22:23:57,count,140.0
222,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:43,HKQuantityTypeIdentifierStepCount,rahul’s Apple Watch,10.6.1,2024-09-13 22:49:54 +0530,2024-09-13 22:38:54,2024-09-13 22:47:29,count,76.0
223,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:21:43,HKQuantityTypeIdentifierStepCount,rahul’s Apple Watch,10.6.1,2024-09-13 23:04:12 +0530,2024-09-13 22:53:26,2024-09-13 22:55:44,count,33.0

In [9]:
sca_df = AStepCountAgg(records_df, start_date, days_offset, offset_sign).process()
sca_df

2024-10-15 19:22:21,315 - INFO - [AStepCount][__init__] - START : Initiated, 241015192221315032
2024-10-15 19:22:21,474 - INFO - [AStepCount][_filter_by_offset] - START : Initiated, 241015192221474385
2024-10-15 19:22:21,476 - INFO - [AStepCount][_filter_data] - START : Initiated, 241015192221476366
2024-10-15 19:22:22,740 - INFO - [AStepCount][_filter_data] - SUCCESS : Completed, 241015192222740547
2024-10-15 19:22:22,744 - INFO - [AStepCount][_filter_by_offset] - SUCCESS : Completed, 241015192222744572
2024-10-15 19:22:22,744 - INFO - [AStepCount][__init__] - SUCCESS : Completed, 241015192222744572
2024-10-15 19:22:22,745 - INFO - [AStepCount][process] - START : Initiated, 241015192222745762
2024-10-15 19:22:22,747 - INFO - [AStepCount][_filter_and_sum_by_source] - START : Initiated, 241015192222747814
2024-10-15 19:22:22,750 - INFO - [AStepCount][_filter_and_sum_by_source] - SUCCESS : Completed, 241015192222750955
2024-10-15 19:22:22,755 - INFO - [AStepCount][process] - SUCCESS : Completed, 241015192222755942

,userName,valueGeneratedAt,s_name,date,type,unit,valueType,value
0,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:22,A_StepCount,2024-09-15,HKQuantityTypeIdentifierStepCount,count,TotalStepCount,5579.0
1,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:22,A_StepCount,2024-09-14,HKQuantityTypeIdentifierStepCount,count,TotalStepCount,8527.0
2,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:22,A_StepCount,2024-09-13,HKQuantityTypeIdentifierStepCount,count,TotalStepCount,9995.0

In [10]:
st_df = AStandTime(records_df, start_date, days_offset, offset_sign).process()
st_df

2024-10-15 19:22:52,032 - INFO - [AStandTime][__init__] - START : Initiated, 241015192252032311
2024-10-15 19:22:52,152 - INFO - [AStandTime][_filter_by_offset] - START : Initiated, 241015192252151141
2024-10-15 19:22:52,153 - INFO - [AStandTime][_filter_data] - START : Initiated, 241015192252153134
2024-10-15 19:22:52,743 - INFO - [AStandTime][_filter_data] - SUCCESS : Completed, 241015192252742946
2024-10-15 19:22:52,746 - INFO - [AStandTime][_filter_by_offset] - SUCCESS : Completed, 241015192252746104
2024-10-15 19:22:52,748 - INFO - [AStandTime][__init__] - SUCCESS : Completed, 241015192252748153
2024-10-15 19:22:52,749 - INFO - [AStandTime][process] - START : Initiated, 241015192252749371
2024-10-15 19:22:52,749 - INFO - [AStandTime][_filter_and_sum_by_source] - START : Initiated, 241015192252749371
2024-10-15 19:22:52,752 - INFO - [AStandTime][_filter_and_sum_by_source] - SUCCESS : Completed, 241015192252752433
2024-10-15 19:22:52,756 - INFO - [AStandTime][process] - SUCCESS : Completed, 241015192252756446

,userName,valueGeneratedAt,type,sourceName,sourceVersion,creationDate,startDate,endDate,unit,value
0,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:52,HKQuantityTypeIdentifierAppleStandTime,rahul’s Apple Watch,2890.16.23.1.1,2024-09-15 00:25:57 +0530,2024-09-15 00:20:00,2024-09-15 00:25:00,min,1.0
1,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:52,HKQuantityTypeIdentifierAppleStandTime,rahul’s Apple Watch,2890.16.23.1.1,2024-09-15 00:30:25 +0530,2024-09-15 00:25:00,2024-09-15 00:30:00,min,1.0
2,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:52,HKQuantityTypeIdentifierAppleStandTime,rahul’s Apple Watch,2890.16.23.1.1,2024-09-15 01:00:25 +0530,2024-09-15 00:55:00,2024-09-15 01:00:00,min,1.0
3,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:52,HKQuantityTypeIdentifierAppleStandTime,rahul’s Apple Watch,2890.16.23.1.1,2024-09-15 02:10:31 +0530,2024-09-15 02:05:00,2024-09-15 02:10:00,min,1.0
4,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:52,HKQuantityTypeIdentifierAppleStandTime,rahul’s Apple Watch,2890.16.23.1.1,2024-09-15 02:20:12 +0530,2024-09-15 02:15:00,2024-09-15 02:20:00,min,1.0
...,...,...,...,...,...,...,...,...,...,...
165,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:52,HKQuantityTypeIdentifierAppleStandTime,rahul’s Apple Watch,2890.16.23.1.1,2024-09-13 22:12:28 +0530,2024-09-13 22:05:00,2024-09-13 22:10:00,min,3.0
166,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:52,HKQuantityTypeIdentifierAppleStandTime,rahul’s Apple Watch,2890.16.23.1.1,2024-09-13 22:20:10 +0530,2024-09-13 22:15:00,2024-09-13 22:20:00,min,1.0
167,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:52,HKQuantityTypeIdentifierAppleStandTime,rahul’s Apple Watch,2890.16.23.1.1,2024-09-13 22:25:49 +0530,2024-09-13 22:20:00,2024-09-13 22:25:00,min,2.0
168,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:52,HKQuantityTypeIdentifierAppleStandTime,rahul’s Apple Watch,2890.16.23.1.1,2024-09-13 22:30:14 +0530,2024-09-13 22:25:00,2024-09-13 22:30:00,min,1.0
169,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:22:52,HKQuantityTypeIdentifierAppleStandTime,rahul’s Apple Watch,2890.16.23.1.1,2024-09-13 22:50:35 +0530,2024-09-13 22:45:00,2024-09-13 22:50:00,min,1.0

In [11]:
sta_df = AStandTimeAgg(records_df, start_date, days_offset, offset_sign).process()
sta_df

2024-10-15 19:23:15,040 - INFO - [AStandTime][__init__] - START : Initiated, 241015192315040638
2024-10-15 19:23:15,128 - INFO - [AStandTime][_filter_by_offset] - START : Initiated, 241015192315128900
2024-10-15 19:23:15,129 - INFO - [AStandTime][_filter_data] - START : Initiated, 241015192315129841
2024-10-15 19:23:15,713 - INFO - [AStandTime][_filter_data] - SUCCESS : Completed, 241015192315713827
2024-10-15 19:23:15,715 - INFO - [AStandTime][_filter_by_offset] - SUCCESS : Completed, 241015192315715914
2024-10-15 19:23:15,716 - INFO - [AStandTime][__init__] - SUCCESS : Completed, 241015192315716918
2024-10-15 19:23:15,717 - INFO - [AStandTime][process] - START : Initiated, 241015192315717928
2024-10-15 19:23:15,718 - INFO - [AStandTime][_filter_and_sum_by_source] - START : Initiated, 241015192315718874
2024-10-15 19:23:15,722 - INFO - [AStandTime][_filter_and_sum_by_source] - SUCCESS : Completed, 241015192315722155
2024-10-15 19:23:15,726 - INFO - [AStandTime][process] - SUCCESS : Completed, 241015192315726274

,userName,valueGeneratedAt,s_name,date,type,unit,valueType,value
0,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:23:15,A_StandTime,2024-09-15,HKQuantityTypeIdentifierAppleStandTime,min,TotalStandTime,87.0
1,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:23:15,A_StandTime,2024-09-14,HKQuantityTypeIdentifierAppleStandTime,min,TotalStandTime,127.0
2,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:23:15,A_StandTime,2024-09-13,HKQuantityTypeIdentifierAppleStandTime,min,TotalStandTime,133.0

In [12]:
ac_df = AActivityCalories(records_df, workouts_df, start_date, days_offset, offset_sign).process()
ac_df

,userName,valueGeneratedAt,type,sourceName,sourceVersion,unit,creationDate,startDate,endDate,value,flightsClimbed,stepCount,standTime,otherActivities
0,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:24:05,HKQuantityTypeIdentifierActiveEnergyBurned,rahul’s Apple Watch,10.6.1,kcal,2024-09-15 00:16:37+05:30,2024-09-15 00:05:38,2024-09-15 00:15:29,5.410,0,1,0,0
1,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:24:05,HKQuantityTypeIdentifierActiveEnergyBurned,rahul’s Apple Watch,10.6.1,kcal,2024-09-15 00:25:55+05:30,2024-09-15 00:15:40,2024-09-15 00:16:00,1.051,0,1,0,0
2,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:24:05,HKQuantityTypeIdentifierActiveEnergyBurned,rahul’s Apple Watch,10.6.1,kcal,2024-09-15 00:26:38+05:30,2024-09-15 00:16:00,2024-09-15 00:26:02,5.179,0,1,0,0
3,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:24:05,HKQuantityTypeIdentifierActiveEnergyBurned,rahul’s Apple Watch,10.6.1,kcal,2024-09-15 00:38:15+05:30,2024-09-15 00:26:02,2024-09-15 00:26:32,0.256,0,0,1,0
4,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:24:05,HKQuantityTypeIdentifierActiveEnergyBurned,rahul’s Apple Watch,10.6.1,kcal,2024-09-15 00:38:16+05:30,2024-09-15 00:26:32,2024-09-15 00:36:34,5.636,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:24:05,HKQuantityTypeIdentifierActiveEnergyBurned,rahul’s Apple Watch,10.6.1,kcal,2024-09-13 22:40:44+05:30,2024-09-13 22:29:46,2024-09-13 22:39:38,4.883,0,1,0,0
610,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:24:05,HKQuantityTypeIdentifierActiveEnergyBurned,rahul’s Apple Watch,10.6.1,kcal,2024-09-13 22:49:54+05:30,2024-09-13 22:39:38,2024-09-13 22:40:08,0.503,0,1,0,0
611,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:24:05,HKQuantityTypeIdentifierActiveEnergyBurned,rahul’s Apple Watch,10.6.1,kcal,2024-09-13 22:50:39+05:30,2024-09-13 22:40:39,2024-09-13 22:49:50,4.994,0,1,0,0
612,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:24:05,HKQuantityTypeIdentifierActiveEnergyBurned,rahul’s Apple Watch,10.6.1,kcal,2024-09-13 23:00:50+05:30,2024-09-13 22:50:20,2024-09-13 23:00:01,3.447,0,1,0,0
613,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:24:05,HKQuantityTypeIdentifierActiveEnergyBurned,rahul’s Apple Watch,10.6.1,kcal,2024-09-13 23:13:26+05:30,2024-09-13 23:00:01,2024-09-13 23:01:03,0.446,0,0,0,1

In [13]:
aca_df = AActivityCaloriesAgg(records_df, workouts_df, start_date, days_offset, offset_sign).process()
aca_df

,userName,valueGeneratedAt,s_name,date,type,unit,valueType,value
0,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-15,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,TotalActivityCaloriesBurned,461.7
1,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-15,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,StepCountActiveCaloriesBurned,400.4
2,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-15,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,OtherActivitiesActiveCaloriesBurned,48.6
3,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-15,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,StandTimeActiveCaloriesBurned,12.7
4,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-15,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,FlightsClimbedActiveCaloriesBurned,NaN
5,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-14,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,TotalActivityCaloriesBurned,531.7
6,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-14,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,StepCountActiveCaloriesBurned,438.7
7,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-14,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,OtherActivitiesActiveCaloriesBurned,44.4
8,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-14,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,FlightsClimbedActiveCaloriesBurned,39.8
9,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-14,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,StandTimeActiveCaloriesBurned,8.8
10,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-13,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,TotalActivityCaloriesBurned,436.3
11,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-13,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,StepCountActiveCaloriesBurned,369.4
12,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-13,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,OtherActivitiesActiveCaloriesBurned,64.9
13,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-13,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,StandTimeActiveCaloriesBurned,2.1
14,5cbdc5c5-2793-452b-a95d-0dbd3a8719ce,2024-10-15 19:26:14,A_ActivityCalories,2024-09-13,HKQuantityTypeIdentifierActiveEnergyBurned,kcal,FlightsClimbedActiveCaloriesBurned,NaN